<div class="header">
  <ion-buttons>
    <ion-button (click)="home()">
      <ion-icon slot="start" icon="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>

  <div class="wrapper">
      <div class="logo">
          <img src="assets/logo.png" alt="">
      </div>

      <div class="text-center mt-4 name">
        Ubah Katasandi
    </div>
  
  <form class="p-3 mt-3">

    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="text" placeholder="Password Sebelumnya" name="password">
  </div>

    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="text" placeholder="Password Baru" name="password">
    </div>

    <div class="form-field d-flex align-items-center">
      <span class="fas fa-key"></span>
      <input type="text" placeholder="Konfirmasi Password Baru" name="password">
    </div>
  
    <button class="btn mt-3" (click)="ganti()">Konfirmasi</button>

  </form>

</div>

</body>